<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-list class="ion-margin-top">
    <ion-item *ngFor="let item of cart.items">
        <ion-grid>
          <a [routerLink]="['/products/', item.item.id]" class="unstyled-link">
            <ion-row class="ion-justify-content-center ion-align-items-between ">
              <ion-img src={{item.item.img}}></ion-img>
              <ion-label class="ion-margin-top">{{item.item.name}}</ion-label>
            </ion-row>
          </a>
          <ion-row class="ion-justify-content-center ion-align-items-center">
            <p>Quantity: {{item.quantity}}</p>
            <div class="ion-margin">
              <ion-button size="medium" (click)="increment(item)">+</ion-button>
              <ion-button size="medium" (click)="decrement(item)">-</ion-button>
              <ion-button size="medium" (click)="deleteItem(item)" color="danger">Delete</ion-button>
            </div>
          </ion-row>
        </ion-grid>
    </ion-item>
  </ion-list>
  <p>Subtotal: ${{cart.total.toLocaleString()}}</p>
  <p>Total: ${{(cart.total * 1.08875).toFixed(2).toLocaleString()}}</p>
  <ion-button routerLink="/">Go Home</ion-button>
</ion-content>
