<ion-header>
  <ion-toolbar>
    <ion-title>{{product.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
          [text]="buttonText"
          [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content ion-padding ion-margin-top">
  <ion-grid class="ion-padding">
    
    <ion-row class="ion-margin-top">
      <div class="ion-justify-content-center">
        
        <ion-img class="img" src={{product.img}}></ion-img>
        <ion-text color="dark" type="ios">
          <h5>${{product.price}}</h5>
        </ion-text>
        <ion-text color="dark" type="ios">
          <h5>{{product.description}}</h5>
        </ion-text>
        <ion-row class="ion-justify-content-around">
          <ion-button expand="block" shape="round" color="success" (click)="addToCart()">Add to Cart</ion-button>
        </ion-row>
      </div>
    </ion-row>
  </ion-grid>
  
  
</ion-content>